@{
    ViewData["Title"] = "ZatcaEGS Home";
}

<div class="container mt-n25">
    <div class="text-center">
        <h2>Welcome to ZatcaEGS</h2>
        <p class="lead">The Simple and Free eInvoicing Integration Solution</p>

        <h4 class="mt-3">What is ZatcaEGS?</h4>
        <p class="custom-lead">ZatcaEGS is a web service specifically designed to integrate the <a href="https://manager.io" target="_blank">"Manager"</a> accounting application with the <a href="https://zatca.gov.sa/en/E-Invoicing/Pages/default.aspx" target="_blank">ZATCA</a> (Zakat, Tax, and Customs Authority) eInvoicing system for Phase II. With ZatcaEGS, you can effortlessly send electronic invoices that fully comply with ZATCA standards.</p>

        <div class="container mt-3">
            <div class="row text-center">
                <div class="col-md-3 mb-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Compatibility with ZATCA Phase II</h5><hr />
                            <p class="card-text">ZatcaEGS is fully compatible with ZATCA eInvoicing Phase II, ensuring that every invoice processed through this service adheres to the latest regulations. You don’t have to worry about regulatory changes; ZatcaEGS is continuously updated to meet the latest compliance standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Easy to Use - Simple Setup Required</h5><hr />
                            <p class="card-text">You don’t need to be a technical expert to use ZatcaEGS. Once connected, you only need to set up the device directly from the setup page. In just a few simple steps, you’re ready to start sending secure and ZATCA-compliant electronic invoices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Privacy <br /> and Data Security</h5><hr />
                            <p class="card-text">We understand the importance of your data privacy and security. <b>ZatcaEGS does not store any data on our servers</b>. This service converts invoices from the Manager application into eInvoiceXML, sends them to the ZATCA server, and returns the response from the ZATCA back to Manager application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Open-Source and Community Support</h5><hr />
                            <p class="card-text">ZatcaEGS is an open-source project available on GitHub. We encourage community participation in the development and maintenance of this service. If you need assistance or would like to contribute, you can visit the <a href="https://forum.manager.io" target="_blank">Manager forum</a> or join the discussion on our <a href="https://github.com/mabaega/ZatcaEGS" target="_blank">GitHub repository</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mt-2">Free for "Manager" Application Users</h4>
        <p class="custom-lead">We are proud to offer ZatcaEGS as a free service to all users of the "Manager" accounting application. There are no hidden fees or subscriptions; this service is the result of our collaboration with the creators of "Manager" to provide the best solution for your business.</p>

        <h4 class="mt-2">How to Start?</h4>
        <p class="custom-lead">
            Add relay URL to Invoice to <span style="font-weight: bold;" id="relay-url"></span>, save Invoice and click [Relay].<br />
            For the first time, it will be redirected to the business setup page to integrate Manager with Zatca. Follow the wizard, and you are ready.<br />
            <b>Attention</b>, <i>Clone/Backup your business data for Trial in Simulation mode, Try all types of Invoices you have, if all works without any problem, you are ready to enter Core Environment using your real business Data.</i>
        </p>
    </div>
</div>

<script>
    let currentUrl = window.location.origin + window.location.pathname;
    if (currentUrl.endsWith('/')) {
        currentUrl = currentUrl.slice(0, -1);
    }
    const relayUrl = currentUrl + '/relay';
    document.getElementById('relay-url').textContent = relayUrl;
</script>
