@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <div class="alert alert-warning">
        
        <h2 class="text-warning">Error</h2>
        <h3 class="text-warning">An error occurred while processing your request.</h3>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="lead">@Html.Raw(Model.ErrorMessage)</p>
        }

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        @if (Model.ShowSetupLink)
        {
            <p>
                <a href="/wizard" class="btn btn-primary">Device Setup</a>
            </p>
        }

        @if (!string.IsNullOrEmpty(Model.ReferrerLink))
        {
            <p>
                <a href="@Model.ReferrerLink" class="btn btn-primary">Go back to the previous page</a>
            </p>
        }
        
    </div>
</div>
