@model CertificateViewModel
@{
    ViewData["Title"] = "Info";
}

<div class="container mt-n25">
    <div class="alert alert-info text-center">
        <h2>Welcome to ZatcaEGS!</h2>
        <p class="lead">
            We could not locate the certificate required for your operations. To proceed, please ensure you complete the Device Onboarding process. This step is essential for configuring your device and ensuring it is ready for business operations.
        </p> 
        <p class="lead">
            If you need assistance or more information on how to complete the onboarding, please follow the instructions provided on our Device Setup Wizard page.
        </p> 
        <p class="lead">
            Thank you for choosing ZatcaEGS. We look forward to assisting you in getting started!.
        </p>

        @if (Model.ShowSetupLink)
        {
            <p>
                <a href="/wizard" class="btn btn-success">Device Setup Wizard</a>
            </p>
        }

        @if (!string.IsNullOrEmpty(Model.ReferrerLink))
        {
            <p>
                <a href="@Model.ReferrerLink" class="btn btn-primary">Go back to the previous page</a>
            </p>
        }

    </div>
</div>