@{
    ViewData["Title"] = "Disclaimer";
}

<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="card shadow-lg p-4 mb-5 rounded" style="max-width: 600px; width: 100%;">
            <h2 class="text-center mb-4">Disclaimer</h2>
            <p>Please ensure that the system is run in a simulation environment before deploying it in a production environment. Using this application in a production environment without prior testing is entirely the user's responsibility.</p>
            <p>The creators of this application are not responsible for any loss, damage, or negative consequences that may result from the use of this application. Please note that this server does not store any user data.</p>
            <p>If you need technical support or have suggestions for improving the application, please feel free to contact us. We appreciate your feedback to help us improve this application.</p>
            <form method="post" action="/Disclaimer/Agree" class="text-center">
                <button type="submit" class="btn btn-primary px-4 py-2">I Agree</button>
            </form>
        </div>
    </div>
</div>