@{
    ViewData["Title"] = "Home";
}

<div class="container mt-n25">
    <div class="text-center">
        <h2>Welcome to ZatcaEGS</h2>
        <p class="lead">The Simple and Free eInvoicing Integration Solution</p>

        <h4 class="mt-4">What is ZatcaEGS?</h4>
        <p class="custom-lead">ZatcaEGS is a web service specifically designed to integrate the "Manager" accounting application with the ZATCA (Zakat, Tax, and Customs Authority) eInvoicing system for Phase II. With ZatcaEGS, you can effortlessly send electronic invoices that fully comply with ZATCA standards.</p>

        <div class="container mt-4">
            <div class="row text-center">
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Compatibility with ZATCA Phase II</h5><hr />
                            <p class="card-text">ZatcaEGS is fully compatible with ZATCA eInvoicing Phase II, ensuring that every invoice processed through this service adheres to the latest regulations. You don’t have to worry about regulatory changes; ZatcaEGS is continuously updated to meet the latest compliance standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Easy to Use - Simple Setup Required</h5><hr />
                            <p class="card-text">You don’t need to be a technical expert to use ZatcaEGS. Once connected, you only need to set up the device directly from the setup page. In just a few simple steps, you’re ready to start sending secure and ZATCA-compliant electronic invoices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Privacy <br/> and Data Security</h5><hr />
                            <p class="card-text">We understand the importance of your data privacy and security. <b>ZatcaEGS does not store any data on our servers</b>. This service only converts invoices from the Manager application into eInvoice XML format, sends them to the ZATCA server, and returns the response from the ZATCA server back to your Manager application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Open-Source and Community Support</h5><hr />
                            <p class="card-text">ZatcaEGS is an open-source project available on GitHub. We encourage community participation in the development and maintenance of this service. If you need assistance or would like to contribute, you can visit the <a href="https://forum.manager.io" target="_blank">Manager forum</a> or join the discussion on our GitHub repository at <a href="https://github.com/mabaega/ZatcaEGS" target="_blank">mabaega/ZatcaEGS</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mt-3">Free for "Manager" Application Users</h4>
        <p class="custom-lead">We are proud to offer ZatcaEGS as a free service to all users of the "Manager" accounting application. There are no hidden fees or subscriptions; this service is the result of our collaboration with the creators of "Manager" to provide the best solution for your business.</p>

        <p class="mt-4">
            <a class="btn btn-lg btn-primary fw-bold" asp-area="" asp-controller="Wizard" asp-action="Index">Get Started Now!</a>
        </p>
    </div>
</div>
